{% extends 'principal/index.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}

<div class="container h-100 " style="margin-top:40px">
    <p style="text-align:center">El nombre introducido no está disponible</p>
    <button type="button" class="btn btn-default" onclick="history.back()">Volver</button>
</div>

{% endblock %}